@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = @Localizer["Title"];
}
@model MyCRM_Online.Models.Client

<div class="text-center">
    <h1 class="display-4">@Localizer["Title"]</h1>

    <form class="client-form" asp-antiforgery="true" asp-action="Edit" asp-controller="Clients">
        <div>
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Name">* @SharedLocalizer["Name"]</label>
                <input class="form-control" type="text" asp-for="Name" />
                <span style="color:red" asp-validation-for="Name"></span>                
            </div>
            <div class="form-group">
                <label asp-for="Nickname">@SharedLocalizer["Nickname"]</label>
                <input class="form-control" type="text" asp-for="Nickname" />
            </div>
            <div class="form-group">
                <label asp-for="Phone">@SharedLocalizer["Phone"]</label>
                <input class="form-control" type="text" asp-for="Phone" />
            </div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input class="form-control" type="text" asp-for="Email" />
            </div>
            <div class="form-group">
                <label asp-for="Country">@SharedLocalizer["Country"]</label>
                <select class="form-control" asp-for="CountryId">
                    <option value="@null">@SharedLocalizer["Select"]</option>
                    @foreach (var country in ViewBag.Countries)
                    {
                        <option value="@country.Id">@country.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="City">@SharedLocalizer["City"]</label>
                <input class="form-control" type="text" asp-for="City" />
            </div>
            <div class="form-group">
                <label asp-for="Address">@SharedLocalizer["Address"]</label>
                <input class="form-control" type="text" asp-for="Address" />
            </div>
            <div class="form-group">
                <label asp-for="ShippingMethod">@SharedLocalizer["ShippingMethod"]</label>
                <select class="form-control" asp-for="ShippingMethodId">
                    <option value="@null">@SharedLocalizer["Select"]</option>
                    @foreach (var shippingMethod in ViewBag.ShippingMethods)
                    {
                        <option value="@shippingMethod.Id">@shippingMethod.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode">@SharedLocalizer["PostalCode"]</label>
                <input class="form-control" type="text" asp-for="PostalCode" />
            </div>
            <div class="form-group">
                <label asp-for="Notes">@SharedLocalizer["Notes"]</label>
                <input class="form-control" type="text" asp-for="Notes" />
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="@SharedLocalizer["Save"]" />
            </div>
        </div>
    </form>    
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}