@using Microsoft.AspNetCore.Mvc.Localization
@using MyCRM_Online.ViewModels.Manufacturers
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = @Localizer["Title"];
}

@model ManufacturerEditViewModel

<div class="text-center">
    <h1 class="display-4">@Localizer["Title"]</h1>

    <div class="text-align-left ">
        <a class="btn btn-outline-secondary" asp-action="Index">@SharedLocalizer["BackToManufacturers"]</a>
    </div>
    <br>

    <form class="text-align-left" asp-antiforgery="true" asp-action="Edit" asp-controller="Manufacturers">
        <div>
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Name">* @SharedLocalizer["Name"]</label>
                <input class="form-control" type="text" asp-for="Name" />
                <span style="color:red" asp-validation-for="Name"></span>
            </div>
            <div class="form-group text-align-right">
                <input class="btn btn-primary" type="submit" value="@SharedLocalizer["Save"]" />
            </div>
        </div>
    </form>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}