@using Microsoft.AspNetCore.Mvc.Localization
@using MyCRM_Online.Models.Entities
@using MyCRM_Online.ViewModels
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = @Localizer["Title"];
}

@model OrderItemCreateViewModel

<div class="text-center">
    <h1 class="display-4">@Localizer["Title"]</h1>

    <div class="text-align-left">
        <a class="btn btn-outline-secondary" asp-route-id="@Model.OrderId" asp-controller="Orders" asp-action="Edit">@SharedLocalizer["BackToOrder"]</a>
    </div>
    <br>

    <form class="text-align-left" asp-antiforgery="true" asp-action="Edit" asp-controller="OrdersItems">
        <div>
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="StockItemId">@SharedLocalizer["StockItemName"]</label>
                <select class="form-select" asp-for="StockItemId">
                    <option value="null">@SharedLocalizer["Select"]</option>
                    @foreach (var item in ViewBag.StockItems)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Quantity">@SharedLocalizer["Quantity"]</label>
                <input class="form-control" type="text" asp-for="Quantity " />
            </div>
            <div class="form-group">
                <label asp-for="Discount">@SharedLocalizer["Discount"]</label>
                <input class="form-control" type="text" asp-for="Discount" />
            </div>
            <div class="form-group text-align-right">
                <input hidden type="text" asp-for="OrderId" value="@Model.OrderId" />
                <input class="btn btn-primary" type="submit" value="@SharedLocalizer["Save"]" />
            </div>
        </div>
    </form>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }